*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
label.hamburg{
    display: none;
}

input#hamburg {
    display:none
}

input#galerycheck{
    display: none;
}

.navcontainer{
    width: 100%;
    position: fixed;
        top: 0;
    z-index: 9999;
}

.row{
    background-color: rgb(85,71,128);
}

.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
    height: 60px;
    font-size: 16px;
    line-height: 40px;
    width: 100%;
}

.nav-linkdiv{
    padding: 20px;
}

.nav-link{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

.home-link{
    text-decoration: underline;
}

.galeryrow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#galerydiv{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
}

.galarrowdiv{
    padding: 30% 0;
}

#galerysubnav{
    display: none;
}

.galeryoption-item{
    background: #554780;
}
.container{
    margin-top: 50px;
}

.mainpicdiv{
    height: 690px;
    background-image: url(../public/images/mainimages/mainpic1.jpg);
    background-position: center;
    background-size: cover;
}

.opacitydiv{
    height: 100%;
    width: 100%;
    background-color: rgba(254, 254, 254, 0.55);
}

.mottodiv{
   //height: 100%;
    padding: 85% 5%;
}

.mottotextdiv{
   // padding: 85% 0;
    margin-bottom: auto;
    font-weight: 200;
    font-family: Raleway, sanf-serif;
}

.mottotextdiv h1{
    font-size: 40px !important;
    margin-bottom: 20px;
}

.kontaktlinkdiv{
    display: inherit;
    max-width: 100%;
    font-size: 16px;
    font-weight: 300;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    width: 135px;
}

.kontaktlink{
    opacity: 1.0;
    min-width: 80%;
    height: 50px;
    width: 115px;
    margin-top: 20px;
    background-color: black;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    display: block;
    cursor: pointer;
    color: white;
   
}

.kontakttext{
    padding: 16px 30px;
    position: relative;
        top: 12px;
}

.servicesdiv{
    padding: 1.25%;
}

.service{
    padding: 5%;
}

.serviceimg{
    width: 100%;
}

.servicedescriptiondiv{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #969696;
    margin-top: -5px;
}

.servicetextdiv{
    text-decoration: none;
    line-height: 25.6px;
    font-weight: 300;
    font-family: Roboto,sans-serif;
}

.servicetextdiv h3{
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 18px !important;
}

.servicetextdiv p{
    font-weight: 300;
    font-size: 16px !important;
}
.servicetextdiv a{
    color: whitesmoke;
}

.footrow{
    height: 400px;
    background-image: url(..\public\images\mainimages\footer1.jpg);
    background-position: center;
    background-size: cover;
}

.cta{
    height: 100%;
    width: 100%;
}

.cta-child{
    padding: 40% 0;
}

.ctachildlink{
    font-weight: 300;
    font-family: Raleway,sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.ctagal{
    font-size: 24px !important;
}

.ctalink{
    color: inherit;
}

//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@media only screen and (max-width: 600px) {

    nav.topmenu { 
        height: auto; 
        max-height:0; 
        width: 100%;
        overflow: hidden; 
        transition: all 0.5s;
        position:absolute;
        background: rgb(85,71,128);
    }

    .line { 
        position: absolute; 
        left:10px;
        height: 4px; width: 55px; 
        background: #fff; border-radius: 2px;
        display: block; 
        transition: 0.5s; 
        transform-origin: center; 
    }
    
    .line:nth-child(1) { top: 12px; }
    .line:nth-child(2) { top: 24px; }
    .line:nth-child(3) { top: 36px; }

    #hamburg:checked + .hamburg .line:nth-child(1){
        transform: translateY(12px) rotate(-45deg);
    }
    
    #hamburg:checked + .hamburg .line:nth-child(2){
        opacity:0;
    }
    
    #hamburg:checked + .hamburg .line:nth-child(3){
        transform: translateY(-12px) rotate(45deg);
    }

    #hamburg:checked + .hamburg  + nav.topmenu { 
        max-height: 9000px; 
        width: 100%;
    }

    label.hamburg { 
        display: block;
        background: rgb(85,71,128); 
        width: 75px; 
        height: 50px; 
        position: relative; 
        margin-left: auto;
        border-radius: 4px; 
    }

    #galerysubnav { 
        max-height:0; 
        width: 100%;
        overflow: hidden; 
        transition: all 0.5s;
        position:absolute;
    }

    #galeryshow { 
        max-height: 600px; 
        width: 100%;
        height: auto; 
        max-height:0; 
        width: 100%;
        transition: all 0.5s;
        position:absolute;
        color: #fff;
    text-decoration: none;
    font-weight: 300;
    }

    .nav-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 24px;
        height: 60px;
        font-size: 16px;
        line-height: 40px;
        width: 100%;
    }

    .otherlinks{
        display: flex;
        flex-direction: row;
    }
}